<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/catalogostyle.css">
    <title>Catálogo de Alimentos</title>
</head>
<body>

    <header>
        <h1>🥗 Catálogo de Alimentos</h1>
        <p>Conoce los alimentos presentes en nuestra trivia saludable</p>
    </header>

    <a class="volver" href="BioGame\QuizAlimentacionSaludable\index.html">
        ← Volver a la Trivia
    </a>

    <main>
        <div class="galeria" id="galeria"></div>
    </main>

    <script src="../js/catalogo.js"></script>

</body>
</html>